@charset 'UTF-8';
/*
 * name: 'nav.scss';
 * for: 'GuangRong_Home';
 * author: 'NearSaint';
 * time: '2017.1207';
 */
@import 'base_scss';

nav.nav_main
{
    z-index: 900;

    $navHeigh: 120px; //导航条初始高度
    $navLineHight: 40px; //导航条文字行高
    @include square($navHeigh, 100%);
    @include position($position: fixed);
    @include transition(height .3s,background .3s);

    div.container
    {
        position: relative;

        height: 100%;

        .logo
        {
            float: left;

            @include square(100%,200px);
            @include background-image(url(../image/logo/logo-w@3x.png));

             > a
            {
                display: block;

                @include square(100%,100%);
            }
        }
        //end .logo
        .meun
        {
            float: right;
             > ul > li
            {
                position: relative;

                float: left;

                margin: 0 2px;

                 > a
                {
                    line-height: $navLineHight;

                    display: block;

                    height: $navLineHight;
                    margin: (($navHeigh - $navLineHight)/2) 0;
                    padding: 0 20px;

                    color: #f5f5f5;

                    @include radius(50px);

                    &.touch,
                    &:hover
                    {
                        color: #fff;
                        background: rgba(0,0,0,.1);
                    }
                    //:hover .touch
                    &.active
                    {
                        color: #fff;
                        background: $color_main !important;
                    }
                    //.active
                }
                //end a
                &:hover > a
                {
                    color: #fff;
                    background: rgba(0,0,0,.1);
                }
                 > ul.dropdownMenu
                {
                    display: none;

                    width: auto;
                    padding: 10px 0 0;

                    white-space: nowrap;

                    @include position(calc(100% - 20px),0);
                    @include radius;

                     > li
                    {
                        padding: 10px 20px;

                        border-bottom: 1px solid #eee;
                        background: #fff;
                         > a
                        {
                            font-size: 14px;
                            line-height: 32px;

                            display: block;

                            color: #333;
                        }
                        &:first-of-type
                        {
                            @include radius(10px 10px 0 0);
                        }
                        &:last-child
                        {
                            border: none;

                            @include radius(0 0 10px 10px);
                        }
                        &:hover
                        {
                            background-color: #eee;
                        }
                    }
                    .triangle-up
                    {
                        position: absolute;
                        top: 0;
                        left: 43px;

                        width: 0;
                        height: 0;

                        border-right: 10px solid transparent;
                        border-bottom: 10px solid #fff;
                        border-left: 10px solid transparent;
                    }
                }//end dropdownMenu
                &:hover > .dropdownMenu
                {
                    display: block;
                }
            }
            // end li
             > a.btn-bars
            {
                display: none;
            }
        }
        //end .meun
    }
    //end .container
    &.fixed
    {
        height: $navHeigh;

        background: rgba(255,255,255,.96);

        $navHeigh: 60px;
        @include box-shadow(0 1px 6px #333);

        div.container .logo
        {
            width: 160px;
            @include background-image(url(../image/logo/logo@3x.png));
        }

        div.container .meun > a.btn-bars
        {
            margin: ($navHeigh - $navLineHight*2)/2 0;

            color: $color_main;
        }

        div.container .meun > ul > li
        {
             > ul.dropdownMenu
            {
                top: 100%;
                 > li
                {
                    border-right: 1px solid #ccc;
                    border-left: 1px solid #ccc;
                    &:first-of-type
                    {
                        border-top: 1px solid #ccc;
                    }
                    &:last-child
                    {
                        border-bottom: 1px solid #ccc;
                    }
                }
                .triangle-up
                {
                    display: none;
                }
            }
        }
        div.container .meun > ul > li > a
        {
            margin: (($navHeigh - $navLineHight)/2) 0;

            color: #999;
            &.touch,
            &:hover
            {
                color: #333;
            }

            &.active
            {
                color: #fff;
            }
        }
    }
    //end nav_main.fixed
}
//end .nav_main
@media (max-width: 992px)
{
    nav.nav_main
    {
        height: $navHeigh;

        $navHeigh: 60px; //导航条初始高度
        $navLineHight: 40px; //导航条文字行高

        div.container
        {
            .logo
            {
                width: 160px;
                @include background-image(url(../image/logo/logo-w@3x.png));
            }
            //end .logo
            .meun
            {
                float: right;
                 > a.btn-bars
                {
                    font-size: 28px;
                    line-height: $navLineHight;

                    display: block;

                    margin: ($navHeigh - $navLineHight)/2 0;

                    text-align: center;

                    color: #fff;

                    @include square($navLineHight,$navLineHight);

                    &.touch
                    {
                        color: $color_deep;
                    }
                }
                 > ul
                {
                    z-index: 999;

                    display: none;

                    height: 100%;
                    padding: 40px;

                    background-color: rgba(0,0,0,.9);

                    @include position(0,0,0,0,fixed);
                    &.active
                    {
                        display: block;
                    }
                     > li
                    {
                        padding: 20px;

                        @include square(65px,100%);
                         > a
                        {
                            display: block;

                            margin: 0;
                            padding: 0 20px;

                            text-align: center;

                            color: #fff ;

                            &.touch,
                            &:hover
                            {
                                font-size: 24px;
                            }
                            //:hover .touch
                            &.active
                            {
                                font-size: 26px;

                                color: $color_light;
                                background: none;
                            }
                            //.active
                        }
                        //end a
                    }
                    // end li
                     > a.btn-close
                    {
                        font-size: 50px;
                        line-height: 60px;

                        display: block;

                        margin-left: -30px;

                        text-align: center;

                        color: #999;

                        @include position($left: 50%,$bottom:40px);
                        @include square(60px,60px);
                        &.touch
                        {
                            font-size: 56px;

                            color: #ccc;
                        }
                    }//end a.btn-close
                }
                // end ul
            }
            //end .meun
        }
        //end .container
        &.fixed
        {
            height: $navHeigh;

            background: #fff;

            $navHeigh: 60px;

            div.container .logo
            {
                @include background-image(url(../image/logo/logo@3x.png));
            }

            div.container .meun > a.btn-bars
            {
                margin: ($navHeigh - $navLineHight)/2 0;

                color: $color_main;
            }
        }
        //end nav_main.fixed
    }
    //end .nav_main
}
//end @media (max-width: 992px)
