@charset 'UTF-8';
/*
 * name: 'plan.scss';
 * for: 'GuangRong_Home';
 * author: 'NearSaint';
 * time: '2017.1208';
 */
@import 'base_scss';

section.plan{
  padding: 0;
  ul>li{
    border-bottom: 1px solid #ccc;
    padding: 60px 0 40px;
    text-align: center;
    >h3{
      font-size: 32px;
      margin-bottom: 15px;
    }
    >h4{
      font-size: 16px;
      color: #999;
      font-weight: 400;
    }
    >hr{
      width: 200px;
      margin: 15px auto 40px;
      border-top: 4px solid $color_main;
    }
    >div{
      padding: 40px;
      margin: 0 0 20px;
      background: #f7f7f9;
      @include radius;
      text-align: left;
      >h5{
        font-size: 20px;
        margin-bottom: 10px;
        line-height: 1.8em;
        color: $color_main;
      }
      > h6{
        font-size: 16px;
        line-height: 1.8em;
        color: #999;
        >strong{
          color: #333;
          font-weight: bold;
        }
      }
      >a.bt{
        margin: 20px 0 0;
        padding: 0 40px;
        @include btn($height:36px,$color:#fff,$bg:$color_main,$hover_bg:$color_deep);
      }
    }
  }
}

@media (max-width: 768px) {

}


section.plan{
  padding-top: 60px;
  >.title{
    height: 300px;
    padding: 95px 0;
    color: #fff;
    text-align: center;
    @include background-image(url(../image/plan/plan_title_bg_01.jpg),cover);
    >div.container>h3{
      font-size: 52px;
      line-height: 80px;
    }
    >div.container>h5{
      font-size: 16px;
      line-height: 30px;
    }
  }//end title
  >.content{
    padding: 100px 0;
    >div.container>div.title>h3{
      margin-bottom: 15px;
      font-size: 28px;
      text-align: center;
      color: $color_deep;
    }
    >div.container>div.title>h4{
      margin-bottom: 60px;
      font-size: 26px;
      text-align: center;
      color: $color_main;
    }
    >div.container>hr{
      background: $color_main;
      border: none;
      height: 4px;
      width: 200px;
      margin: 0 auto 60px;
    }
    >div.container>div.content>p{
      width: 100%;
      max-width: 760px;
      margin: 0 auto 40px;
      text-align: center;
      font-size: 16px;
      line-height: 1.5em;
    }
    >div.container>div.content>div.vs{
      width: 100%;
      overflow-y: scroll;
      text-align: center;
      &::-webkit-scrollbar{
        height: 0;
        width: 0;
        visibility: hidden;
      }
      >img{
        width: 1022px;
        height: 490px;
      }
    }
    >div.container>div.content>div.products{
      padding: 40px 0 0;
      border-top: 1px dashed #ddd;
      @include flex;
      justify-content: space-between;
      >.item{
        margin: 0 10px;
        @include radius;
        background-color: $color_main;
        color:#fff;
        padding: 20px;
        >h3{
          margin-bottom: 20px;
        }
        >h5{
          font-size: 14px;
          margin-bottom: 40px;
          line-height: 1.5em;
          color: #eee;
        }
        >div.bt{
          text-align: right;
          >a{
            @include radius(50px);
            background-color: #fff;
            color: $color_main;
            padding: 8px 15px;
            margin: 0 5px;
            &:hover{
              background-color: $color_deep;
              color:#fff;
            }
          }
        }
      }
    }//end products

    div.product_owl{
      width: 100%;
      height: 300px;
      .owl-dots{
        position: absolute;
        left: 50%;
        @include transform(translateX(-50%));
        >.owl-dot{
          @include radius(50%);
          background-color: #999;
          border: 2px solid #eee;
          float: left;
          @include square(20px,20px);
          &.active{
            background: $color_main;
          }
        }
      }
      .owl-item{
        padding: 10px;
      }
      .items{
        @include radius;
        background-color: $color_main;
        color:#fff;
        padding: 20px;
        min-height: 320px;
        >h3{
          margin-bottom: 20px;
        }
        >h5{
          font-size: 14px;
          margin-bottom: 40px;
          line-height: 1.5em;
          color: #eee;
        }
        >div.bt{
          text-align: right;
          position: absolute;
          bottom: 20px;
          right: 20px;
          height: 34px;
          >a{
            @include radius(50px);
            background-color: #fff;
            color: $color_main;
            padding: 8px 15px;
            margin: 0 5px;
            &:hover{
              background-color: $color_deep;
              color:#fff;
            }
          }
        }
      }
    }

  }//end content
}
